.userPage {
  width: 100%;
  background-color: var(--secondary);
  padding-top: 16px;
  height: calc(100vh - 80px);
  box-sizing: border-box;

  section {
    max-width: var(--page-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    div {
      width: 600px;
      overflow: scroll;
      padding: 16px;
    }
    div::-webkit-scrollbar {
      display: none;
    }

    div {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    aside {
      display: flex;
      flex-direction: column;
      margin-left: 64px;
    }
  }
}
