<article class="singlePost">
  <div class="content">
    <div>
      <h4>{{ username }}</h4>
      <h4 class="date">{{ postDate }}</h4>
    </div>
    <h3>{{ post?.title }}</h3>
    <p>
      {{ post?.content }}
    </p>
  </div>

  <div class="reaction">
    <div *ngIf="enabledComments" class="comments">
      <article *ngFor="let comment of comments">
        <p>{{ comment.content }}</p>
      </article>
    </div>
    <div class="commentManage">
      <a (click)="setEnabledComments()"> Proširi </a>
      <input type="text" name="comment" [formControl]="newComment" />
      <a (click)="sendComment()">Komentiraj</a>
    </div>
  </div>
</article>
