<article class="singlePost">
  <div class="content">
    <div>
      <h4>{{ username }}</h4>
      <h4 class="date">{{ postDate }}</h4>
    </div>
    <div>
      <a *ngIf="!isEdited" class="title" (click)="openPostPage()">{{ post?.title }}</a>
      <input
        type="text"
        name="newTitle"
        *ngIf="isEdited"
        [formControl]="newPostTitle"
      />
      <a (click)="editPost()" *ngIf="post?.userId === currentUserId">{{
        isEdited ? "Send" : "Edit"
      }}</a>
    </div>
    <p *ngIf="!isEdited">
      {{ post?.content }}
    </p>
    <textarea
      name="newContent"
      id="newContent"
      *ngIf="isEdited"
      [formControl]="newPostContent"
    >
    </textarea>
  </div>

  <div class="reaction">
    <div *ngIf="enabledComments" class="comments">
      <article *ngFor="let comment of comments">
        <p>{{ comment.content }}</p>
      </article>
    </div>
    <div class="commentManage">
      <a (click)="setEnabledComments()"> Proširi </a>
      <input type="text" name="comment" [formControl]="newComment" />
      <a (click)="sendComment()">Komentiraj</a>
    </div>
  </div>
</article>
