<main class="loginPage">
  <form [formGroup]="loginData" (ngSubmit)="onSubmit()">
    <div class="usernameDiv">
      <div>
        <label for="username">Username</label>
      </div>
      <input type="text" name="username" formControlName="username" />
    </div>
    <div class="passwordDiv">
      <div>
        <label for="password">Password</label>
      </div>
      <input type="password" name="password" formControlName="password" />
    </div>
    <input type="submit" class="submitButton" />
  </form>
</main>
