.registerPage {
  width: 100%;
  background-color: var(--secondary);
  height: calc(100vh - 80px);
  padding-top: 10px;
  box-sizing: border-box;

  form {
    width: 400px;
    height: fit-content;
    background-color: var(--post-color);
    margin: 0 auto;
    border: var(--border2);
    border-radius: 16px;
    padding: 20px;

    div {
      border: var(--border2);

      div {
        background-color: var(--primary);

        label {
          font-size: 16px;
          width: 100%;
          color: var(--font-white);
        }
      }

      input {
        font-size: 18px;
        width: 100%;
        box-sizing: border-box;
      }
    }

    .topDiv {
      border-radius: 8px 8px 0 0;
      border-bottom: none;
    }

    .bottomDiv {
      border-radius: 0 0 8px 8px;
      border-top: none;
      margin-bottom: 16px;
    }

    .checkDiv {
      display: flex;
      background-color: var(--primary);
      input {
        width: min-content;
        margin-left: 4px;
      }
    }

    .submitButton {
      width: 80px;
      height: 30px;
      color: var(--font-white);
      background-color: var(--ternary);
      border: 2px solid var(--ternary);
      border-radius: 8px;
      margin: 0 auto;
      display: block;
      transition: 0.4s ease-in-out;
    }

    .submitButton:hover {
      cursor: pointer;
      background-color: var(--primary);
      border: var(--border2);
    }
  }

  .loginLink {
    width: max-content;
    margin: 16px auto 0 auto;

    a {
      color: var(--font-dark);
      text-decoration: none;
    }

    a:hover {
      color: var(--primary);
    }
  }

  .errorText {
    margin: 0 auto;
    max-width: var(--page-width);
    width: 100%;
    color: red;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
  }
}
