/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #2e8bb7;
  --secondary: #def2f5;
  --ternary: #6eccca;
  --post-color: #ffffff;
  --font-white: #ffffff;
  --font-dark: #000000;
  --page-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
}
