.postsPage {
  background-color: var(--secondary);
  width: 100%;
  height: 1000px; //replace
  padding-top: 16px;

  section {
    max-width: var(--page-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    div {
      width: 100%;
    }
  }
}
