<aside class="messagesView">
  <h3>Poruke</h3>
  <section class="allMessages" *ngIf="false">
    <div class="userMessages">
      <h4>Username</h4>
      <img src="" alt=">" />
    </div>
    <div class="userMessages">
      <h4>Username2</h4>
      <img src="" alt=">" />
    </div>
    <div class="userMessages">
      <h4>Username3</h4>
      <img src="" alt=">" />
    </div>
  </section>
  <section class="privateMessages">
    <app-message [text]="'Lorem ipsum'" [right]="false" />
    <app-message
      [text]="
        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur'
      "
      [right]="true"
    />
    <app-message [text]="'Lorem ipsum'" [right]="false" />
    <app-message
      [text]="
        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur'
      "
      [right]="false"
    />
    <app-message
      [text]="
        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. ConsequaturLorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur'
      "
      [right]="true"
    />

    <app-message [text]="'Lorem ipsum'" [right]="false" />
    <app-message
      [text]="
        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur'
      "
      [right]="true"
    />
    <app-message [text]="'Lorem ipsum'" [right]="false" />
    <app-message
      [text]="
        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur'
      "
      [right]="false"
    />
    <app-message
      [text]="
        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. ConsequaturLorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur'
      "
      [right]="true"
    />

    <app-message [text]="'Lorem ipsum'" [right]="false" />
    <app-message
      [text]="
        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur'
      "
      [right]="true"
    />
    <app-message [text]="'Lorem ipsum'" [right]="false" />
    <app-message
      [text]="
        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur'
      "
      [right]="false"
    />
    <app-message
      [text]="
        'Lorem ipsum, dolor sit amet consecte ZADNJEEEEEEEEEEEEEEEE tur adipisicing elit. ConsequaturLorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur' 
      "
      [right]="true"
    />
  </section>
</aside>
