.singlePost {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  min-height: 200px;
  height: fit-content;
  max-height: 400px;
  background-color: var(--post-color);
  border: 2px solid var(--primary);
  border-radius: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .content {
    h3 {
      background-color: var(--primary);

      border-bottom: 1px solid var(--primary);
      color: white;
      padding: 0 8px;
    }

    p {
      padding: 0 8px;
      min-height: 100px;
      height: fit-content;
    }
  }

  .reaction {
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    border-top: 1px solid var(--primary);
    align-items: center;

    div {
      display: flex;
      width: 80px;
      border: none;
      justify-content: space-between;
      align-items: center;
    }
  }
}
