<nav>
  <ul>
    <li>
      <a [routerLink]="['']"><img src="" alt="logo" /></a>
    </li>
    <li>
      <a *ngIf="isLoggedIn && !isAdmin" [routerLink]="['']">Posts</a>
      <a *ngIf="isLoggedIn && isAdmin" [routerLink]="['admin']"
        >Manage Activity</a
      >
    </li>
    <li><a *ngIf="isLoggedIn" [routerLink]="['new_post']">New Post</a></li>
    <li>
      <a *ngIf="!isLoggedIn" [routerLink]="['login']">Login</a>
      <a *ngIf="isLoggedIn" [routerLink]="['user']">Hi, {{ username }}</a>
    </li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
