<main class="adminPage">
  <section>
    <h2>Users</h2>
    <table>
      <tr>
        <th class="mid">Username</th>
        <th class="mid">Name</th>
        <th class="mid">Surname</th>
        <th class="mid">Email</th>
        <th class="small"></th>
      </tr>
      <tr *ngFor="let user of userList; index as i">
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.email }}</td>
        <td><button (click)="deleteUser(i)">Delete</button></td>
      </tr>
    </table>
    <h2>Posts</h2>
    <table>
      <tr>
        <th class="mid">Title</th>
        <th class="remaining">Content</th>
        <th class="mid">Date</th>
        <th class="small"></th>
      </tr>
      <tr *ngFor="let post of postList; index as i">
        <td>{{ post.title }}</td>
        <td>{{ post.content }}</td>
        <td>{{ post.timestamp | dateShow }}</td>
        <td><button (click)="deletePost(i)">Delete</button></td>
      </tr>
    </table>
  </section>
</main>
