<aside class="messagesView">
  <h3>Poruke</h3>
  <section class="allMessages" *ngIf="peopleView">
    <div class="userMessages" *ngFor="let user of allUsers">
      <h4>{{ user.username }}</h4>
      <a (click)="setChosenUser(user)">></a>
    </div>
  </section>
  <section class="privateMessages" *ngIf="!peopleView">
    <div class="messageScroll">
      <app-message
        *ngFor="let message of messages"
        [text]="message.message"
        [right]="currentUser?._id === message.ownerId"
      />
    </div>
    <div class="writeMessage">
      <input
        type="button"
        value="Back"
        class="button"
        (click)="setMessageView(true)"
      />
      <input type="text" class="inputText" [formControl]="newMessage" />
      <input
        type="button"
        value="Send"
        class="button"
        (click)="sendMessage()"
      />
    </div>
  </section>
</aside>
